*{
    padding:0px;
    margin: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
}

.main{
    /* background-color: aqua; */
    position: absolute;
    top: 30%;
    left: 40%;
    height: 200px;
    width: 200px;
}

.text{
    position: absolute;
    left: 90px;
    top:90px;
    z-index: -1;
}

.red{
    height: 50%;
    width: 50%;
    background-color: red;
    float: left;
    transform: rotate(0deg);
    transition: 1s;
}
.blue{
    height: 50%;
    width: 50%;
    background-color: blue;
    float: left;
    transform: rotate(0deg);
    transition: 1s;
}
.green{
    height: 50%;
    width: 50%;
    background-color: green;
    float: left;
    transform: rotate(0deg);
    transition: 1s;
}
.yellow{
    height: 50%;
    width: 50%;
    background-color: yellow;
    float: left;
    transform: rotate(0deg);
    transition: 1s;
}


/* hover transition */

.main:hover .red {
    transition-timing-function: ease-in-out;
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 1s;
}

.main:hover .green {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transition: transform 1s;
}

.main:hover .blue {
    transform: rotate(-90deg);
    transform-origin: top right;
    transition: transform 1s;
}

.main:hover .yellow {
    transform: rotate(90deg);
    transform-origin: bottom right;
    transition: transform 1s;
}

